<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock title %}</title>
    {% block meta %}{% endblock meta %}


    {% block scripts %}{% endblock scripts %}
    {% block css %}{% endblock css %}
</head>
<body>
{% block body %}{% endblock body %}
</body>
<footer>
    <div>version: {{ current_version }}</div>
    <div><a href="https://gitlab.com/saffathasan/king-me">source code</a></div>
</footer>
</html>
